{% extends "GRsystem/index.html" %}


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
{% block content %}
<style>
body
{

    background-color: #565a5f !important;
    
}
H1,H2,H3{
    color:white;
    padding:10px;
}
img{
  width:100%;
  height:100%;
}
.card
{
  border:#007bff !important;
}
a {
  color:black;
  font-weight:bold;

 
     color: #000;
     padding: 1px;
}
#middle{
  left: 0;

    margin-top: -100px;
    position: absolute;
  
    top: 50%;
    width: 100%;
}
</style>
<br>
          {% load static %}
          <div id="middle">
 <center> 
 
<div style="border-color:Blue;border-style:solid">
<h1 style=" text-align:center;color:white;">Complaint Management System</h1>
<h3 style=" text-align:center;color:white">Online Complaint Management System is the way of solving the problems faced by the students<br>
                                             by saving time.The main objective of the complaint management system is to make complaints <br/>
                                             easier to coordinate,monitor,track and resolve and to provide management with an effective<br/>
                                              tool to identify and target problem areas,monitor complaints handling performance and<br/>
    make college Management a better one </h3>
</div>


			
    
               

</center>
</div>

  {% endblock %}